<section class="container">

  <article>
    <h1>ng-class &amp; ng-click</h1>
    <p>Make the orange box appear using <b>ng-class</b> and <b>ng-click</b>.</p>
  </article>

  <article>
    <div class="box orange" ng-class="{'fade-in-box-ani':isOrange}"></div>
    <button type="button" ng-click="orange()">show</button>
  </article>

</section>
