<section class="container">

  <article>
    <h1>ng-repeat &amp; ng-model</h1>
    <p>Show the provided JSON data using <b>ng-repeat</b> and <em>filter</em> the results using the input as the <b>ng-model</b>. Add <b>ng-show</b> and <b>ng-hide</b> animations.</p>
  </article>

  <article>
    <input type="text" placeholder="Search" ng-model="search">
    <ul class="listview">
      <li ng-repeat="transformer in transformers | filter:search" ng-class="{'': }">
        <a href title="">{{ transformer.name }}</a>
      </li>
    </ul>
  </article>

</section>
